html {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}

#root {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  background-color: #fffcf5;
}

.w-md-editor-text-input:focus {
  border: 2px solid purple;
}

.w-md-editor-show-edit:hover {
  border: 1px solid darkgrey;
}

.w-md-editor-show-edit {
  border: 1px solid lightgrey;
}
