html {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

#root {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}