@font-face {
  font-family: "DancingScript";
  src: url("./fonts/static/DancingScript-Bold.ttf");
}

@font-face {
  font-family: "Caveat-Bold";
  src: url("./fonts/static/Caveat-SemiBold.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("./fonts/static/Caveat-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("./fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "PoetsenOne";
  src: url("./fonts/PoetsenOne-Regular.ttf");
}
